archive_doc_subflow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:mulerequester="http://www.mulesoft.org/schema/mule/mulerequester" xmlns:objectstore="http://www.mulesoft.org/schema/mule/objectstore"
	xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/objectstore http://www.mulesoft.org/schema/mule/objectstore/current/mule-objectstore.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/mulerequester http://www.mulesoft.org/schema/mule/mulerequester/current/mule-mulerequester.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
    <flow name="archivedoc_subflowFlow">
        <enricher target="#[flowVars.tokenStatus]" doc:name="Message Enricher">
<objectstore:contains config-ref="ObjectStore__Connector" key="otcsTicket" doc:name="ObjectStore"/>
</enricher>
<choice doc:name="Choice">
<when expression="#[flowVars.tokenStatus == 'true']">
<logger message="#[flowVars.logMessage], FlowName=pollotsticketFlow , Message=Started Retreiving Token" level="INFO" doc:name="Logger"/>
<objectstore:retrieve config-ref="ObjectStore__Connector" key="otcsTicket" targetProperty="authToken" doc:name="ObjectStore"/>
                <mulerequester:request resource="file:////dcn4pfsh104/home_5/RCDA/Desktop/Files/file.pdf" doc:name="Mule Requester"/>
                <logger message="#[payload]" level="INFO" doc:name="Logger"/>
                <object-to-byte-array-transformer doc:name="Object to Byte Array"/>
                <set-attachment attachmentName="#[flowVars.filename]" value="#[payload]" contentType="application/pdf" doc:name="Attachment"/>
                <logger message="#[payload]" level="INFO" doc:name="Logger"/>
<http:request config-ref="OPEN_TEXT" path="${GetDocumnetContent.Opentext.ArchiveContent.Path}" method="POST" doc:name="HTTP" parseResponse="false">
<http:request-builder>
                        <http:query-param paramName="type" value="144"/>
                        <http:query-param paramName="parent_id" value="59611"/>
                        <http:query-param paramName="name" value="Sampletest33"/>
                        <http:query-param paramName="file" value="file:Sampletest33.pdf"/>
                        <http:header headerName="OTCSTICKET" value="#[flowVars.authToken]"/>
</http:request-builder>
</http:request>
</when>
<otherwise>
<scripting:component doc:name="Groovy">
<scripting:script engine="Groovy">
<![CDATA[throw new directlinegroup.integration.mule.DLGAPIException("000","error","Failed To Retrive Token ","soap:Server","High");

]]></scripting:script>
</scripting:component>
</otherwise>
</choice>
    </flow>
   <flow name="file2rest" doc:description="Reads a file from your desktop and sends that to a rest service.">
	<file:inbound-endpoint path="src/main/resources" responseTimeout="10000" doc:name="File">
            <file:filename-regex-filter pattern="Sampletest9.pdf" caseSensitive="true"/>
         </file:inbound-endpoint>
        <file:file-to-byte-array-transformer doc:name="File to Byte Array"/>
         <set-attachment attachmentName="file" value="#[payload]" contentType="multipart/formdata" doc:name="Attachment"/>
	<http:request config-ref="OPEN_TEXT" path="/otcs/llisapi.dll/api/v2/nodes" method="POST" doc:name="HTTP" parseResponse="false" >
	<http:request-builder>
                <http:query-param paramName="type" value="144"/>
                <http:query-param paramName="parent_id" value="59611"/>
                <http:query-param paramName="name" value="Sampletest9"/>
                <http:query-param paramName="file" value="file:Sampletest9.pdf"/>
                <http:header headerName="OTCSTICKET" value="SF2qEIbeSv0AzsOqkWCM4HAfK9zhrMrQ/+Zc5BwUugOYMjCoKmQ89XmTV97eZIeWyiHKss0DS6VAbCROU6Y7Klq0bpfkxUIAUA7K5iCyDFMd+TUcnfTEHw=="/>
</http:request-builder>
	</http:request>
    </flow>
</mule>
