latest.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
       xmlns:spring="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">
    <flow name="getjobsFlow">
        <json:xml-to-json-transformer doc:name="XML to JSON"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="0ddef035-cd65-41c9-a03f-5262fc8f2bb2">
            <dw:input-payload doc:sample="sample_data\empty_1.xml"/>
            <dw:set-variable variableName="gwrequest"><![CDATA[%dw 1.0
%output application/json

---
//payload."impl:GetJobsRequest"."impl:request"."impl:jobId" map ((impljobId , indexOfimpljobId) -> impljobId as :number)
payload.Envelope.Body.GetJobsRequest.request.*jobId map ((impljobId , indexOfimpljobId) -> impljobId as :number)]]></dw:set-variable>
        </dw:transform-message>
        <logger message="Validation Success====#[flowVars.gwrequest]" level="INFO" doc:name="Logger"/>
        <flow-ref name="getJobsSmartCommFlow" doc:name="getJobsSmartCommFlow"/>
       <!--  <set-payload value="&lt;ns1:GetJobsRequest xmlns:ns1=&quot;http://directlinegroup.co.uk/schemas/custdocs/custdocsesb/businessentity/1/0&quot;&gt;&lt;ns1:request&gt;&lt;ns1:startTime&gt;2018-06-08T11:49:35.757Z&lt;/ns1:startTime&gt;&lt;ns1:finishTime&gt;2018-06-08T11:50:53.307Z&lt;/ns1:finishTime&gt; &lt;ns1:jobId&gt;001&lt;/ns1:jobId&gt;&lt;ns1:jobId&gt;002&lt;/ns1:jobId&gt;&lt;ns1:jobId&gt;003&lt;/ns1:jobId&gt;&lt;ns1:jobId&gt;004&lt;/ns1:jobId&gt;&lt;ns1:jobId&gt;005&lt;/ns1:jobId&gt;&lt;ns1:jobId&gt;006&lt;/ns1:jobId&gt;&lt;ns1:jobId&gt;007&lt;/ns1:jobId&gt;&lt;ns1:jobId&gt;008&lt;/ns1:jobId&gt;&lt;ns1:jobId&gt;009&lt;/ns1:jobId&gt;&lt;ns1:jobId&gt;010&lt;/ns1:jobId&gt;&lt;/ns1:request&gt; &lt;/ns1:GetJobsRequest&gt;" doc:name="Set Payload"/> -->

    </flow>
  <!--    <sub-flow name="getJobsOAuthSignatureFlow">
        <logger message="Inside Oauth flow==#[payload:java.lang.String]" level="INFO" doc:name="Logger"/>
        <component class="directlinegroup.integration.mule.ONEAPIRestClient" doc:name="Java"/>
        <logger message="after java class payload is =====#[payload:java.lang.String]" level="INFO" doc:name="Logger"/>
        <set-variable variableName="Authorization" value="OAuth realm=#[payload.get(&quot;url&quot;)],oauth_consumerkey=${esb.smartcomm.consumerKey},oauth_nonce=#[payload.get(&quot;nonce&quot;)],oauth_signature=#[payload.get(&quot;signature&quot;)],oauth_signature_method=HMAC-SHA256,oauth_timestamp=#[payload.get(&quot;nonce_unixTime&quot;)],oauth_version=1.0" doc:name="Authorization"/>
        <logger message="Authorization value is ====#[flowVars.Authorization]" level="INFO" doc:name="Logger"/>
        <flow-ref name="getJobsSmartCommFlow" doc:name="getJobsSmartCommFlow"/>
    </sub-flow> --> 
	<sub-flow name="getJobsSmartCommFlow">
        <logger level="INFO" doc:name="HTTP needs to be placed"/>
        <set-payload value="{
	&quot;items&quot;: [{
		&quot;queue&quot;: &quot;AndrewsQueue&quot;,
		&quot;input&quot;: null,
		&quot;progress&quot;: &quot;0&quot;,
		&quot;project&quot;: null,
		&quot;type&quot;: &quot;BIN&quot;,
		&quot;id&quot;: 241,
		&quot;config&quot;: null,
		&quot;range&quot;: null,
		&quot;status&quot;: &quot;FAILED&quot;,
		&quot;inputData&quot;: null,
		&quot;configData&quot;: null,
		&quot;appliance&quot;: &quot;AndrewsAppliance_08-00-27-92-C2-80&quot;,
		&quot;purgeLocked&quot;: false,
		&quot;testStatus&quot;: null,
		&quot;submitted&quot;: &quot;2018-06-14T17:33:36.067Z&quot;,
		&quot;started&quot;: &quot;2018-06-14T17:33:37.25Z&quot;,
		&quot;finished&quot;: &quot;2018-06-14T17:33:40.557Z&quot;,
		&quot;jobFiles&quot;: null,
		&quot;jobProperties&quot;: null,
		&quot;name&quot;: null
	}, {
		&quot;queue&quot;: &quot;AndrewsQueue&quot;,
		&quot;input&quot;: null,
		&quot;progress&quot;: &quot;0&quot;,
		&quot;project&quot;: null,
		&quot;type&quot;: &quot;BUNDLE&quot;,
		&quot;id&quot;: 240,
		&quot;config&quot;: null,
		&quot;range&quot;: null,
		&quot;status&quot;: &quot;FAILED&quot;,
		&quot;inputData&quot;: null,
		&quot;configData&quot;: null,
		&quot;appliance&quot;: &quot;AndrewsAppliance_08-00-27-92-C2-80&quot;,
		&quot;purgeLocked&quot;: false,
		&quot;testStatus&quot;: null,
		&quot;submitted&quot;: &quot;2018-06-14T17:33:30.1Z&quot;,
		&quot;started&quot;: &quot;2018-06-14T17:33:33.997Z&quot;,
		&quot;finished&quot;: &quot;2018-06-14T17:33:39.823Z&quot;,
		&quot;jobFiles&quot;: null,
		&quot;jobProperties&quot;: null,
		&quot;name&quot;: null
	}, {
		&quot;queue&quot;: &quot;AndrewsQueue&quot;,
		&quot;input&quot;: null,
		&quot;progress&quot;: &quot;0&quot;,
		&quot;project&quot;: null,
		&quot;type&quot;: &quot;BIN&quot;,
		&quot;id&quot;: 235,
		&quot;config&quot;: null,
		&quot;range&quot;: null,
		&quot;status&quot;: &quot;FAILED&quot;,
		&quot;inputData&quot;: null,
		&quot;configData&quot;: null,
		&quot;appliance&quot;: &quot;AndrewsAppliance_08-00-27-92-C2-80&quot;,
		&quot;purgeLocked&quot;: false,
		&quot;testStatus&quot;: null,
		&quot;submitted&quot;: &quot;2018-06-14T17:30:46.26Z&quot;,
		&quot;started&quot;: &quot;2018-06-14T17:30:47.507Z&quot;,
		&quot;finished&quot;: &quot;2018-06-14T17:30:51.873Z&quot;,
		&quot;jobFiles&quot;: null,
		&quot;jobProperties&quot;: null,
		&quot;name&quot;: null
	}, {
		&quot;queue&quot;: &quot;AndrewsQueue&quot;,
		&quot;input&quot;: null,
		&quot;progress&quot;: &quot;0&quot;,
		&quot;project&quot;: null,
		&quot;type&quot;: &quot;BUNDLE&quot;,
		&quot;id&quot;: 234,
		&quot;config&quot;: null,
		&quot;range&quot;: null,
		&quot;status&quot;: &quot;FAILED&quot;,
		&quot;inputData&quot;: null,
		&quot;configData&quot;: null,
		&quot;appliance&quot;: &quot;AndrewsAppliance_08-00-27-92-C2-80&quot;,
		&quot;purgeLocked&quot;: false,
		&quot;testStatus&quot;: null,
		&quot;submitted&quot;: &quot;2018-06-14T17:30:37.273Z&quot;,
		&quot;started&quot;: &quot;2018-06-14T17:30:44.007Z&quot;,
		&quot;finished&quot;: &quot;2018-06-14T17:30:51.16Z&quot;,
		&quot;jobFiles&quot;: null,
		&quot;jobProperties&quot;: null,
		&quot;name&quot;: null
	}, {
		&quot;queue&quot;: &quot;AndrewsQueue&quot;,
		&quot;input&quot;: &quot;/mnt/autofs/input/print/bank-data-3-trans-1-error.xml&quot;,
		&quot;progress&quot;: &quot;6&quot;,
		&quot;project&quot;: 157673530,
		&quot;type&quot;: &quot;TRANSACTION_FILE&quot;,
		&quot;id&quot;: 233,
		&quot;config&quot;: 157811929,
		&quot;range&quot;: null,
		&quot;status&quot;: &quot;FAILED&quot;,
		&quot;inputData&quot;: null,
		&quot;configData&quot;: null,
		&quot;appliance&quot;: &quot;AndrewsAppliance_08-00-27-92-C2-80&quot;,
		&quot;purgeLocked&quot;: false,
		&quot;testStatus&quot;: null,
		&quot;submitted&quot;: &quot;2018-06-14T17:30:19.877Z&quot;,
		&quot;started&quot;: &quot;2018-06-14T17:30:24.03Z&quot;,
		&quot;finished&quot;: &quot;2018-06-14T17:32:37.053Z&quot;,
		&quot;jobFiles&quot;: null,
		&quot;jobProperties&quot;: null,
		&quot;name&quot;: &quot;Test Job&quot;
	}, {
		&quot;queue&quot;: &quot;AndrewsQueue&quot;,
		&quot;input&quot;: &quot;/mnt/autofs/input/print/bank-data-3-trans-1-error.xml&quot;,
		&quot;progress&quot;: &quot;6&quot;,
		&quot;project&quot;: 157673530,
		&quot;type&quot;: &quot;TRANSACTION_FILE&quot;,
		&quot;id&quot;: 232,
		&quot;config&quot;: 157811929,
		&quot;range&quot;: null,
		&quot;status&quot;: &quot;FAILED&quot;,
		&quot;inputData&quot;: null,
		&quot;configData&quot;: null,
		&quot;appliance&quot;: &quot;AndrewsAppliance_08-00-27-92-C2-80&quot;,
		&quot;purgeLocked&quot;: false,
		&quot;testStatus&quot;: null,
		&quot;submitted&quot;: &quot;2018-06-14T17:17:47.543Z&quot;,
		&quot;started&quot;: &quot;2018-06-14T17:17:53.967Z&quot;,
		&quot;finished&quot;: &quot;2018-06-14T17:18:15.98Z&quot;,
		&quot;jobFiles&quot;: null,
		&quot;jobProperties&quot;: null,
		&quot;name&quot;: &quot;Test Job&quot;
	}, {
		&quot;queue&quot;: &quot;AndrewsQueue&quot;,
		&quot;input&quot;: &quot;/mnt/autofs/input/print/bank-data-3-trans-1-error.xml&quot;,
		&quot;progress&quot;: &quot;0&quot;,
		&quot;project&quot;: 157673530,
		&quot;type&quot;: &quot;TRANSACTION_FILE&quot;,
		&quot;id&quot;: 231,
		&quot;config&quot;: 157811929,
		&quot;range&quot;: null,
		&quot;status&quot;: &quot;FAILED&quot;,
		&quot;inputData&quot;: null,
		&quot;configData&quot;: null,
		&quot;appliance&quot;: &quot;AndrewsAppliance_08-00-27-92-C2-80&quot;,
		&quot;purgeLocked&quot;: false,
		&quot;testStatus&quot;: null,
		&quot;submitted&quot;: &quot;2018-06-14T17:14:04.48Z&quot;,
		&quot;started&quot;: &quot;2018-06-14T17:14:13.91Z&quot;,
		&quot;finished&quot;: &quot;2018-06-14T17:14:16.777Z&quot;,
		&quot;jobFiles&quot;: null,
		&quot;jobProperties&quot;: null,
		&quot;name&quot;: &quot;Test Job&quot;
	}, {
		&quot;queue&quot;: &quot;AndrewsQueue&quot;,
		&quot;input&quot;: &quot;/mnt/autofs/input/print/bank-data-3-trans-1-error.xml&quot;,
		&quot;progress&quot;: &quot;0&quot;,
		&quot;project&quot;: 157673530,
		&quot;type&quot;: &quot;TRANSACTION_FILE&quot;,
		&quot;id&quot;: 230,
		&quot;config&quot;: 157811929,
		&quot;range&quot;: null,
		&quot;status&quot;: &quot;FAILED&quot;,
		&quot;inputData&quot;: null,
		&quot;configData&quot;: null,
		&quot;appliance&quot;: &quot;AndrewsAppliance_08-00-27-92-C2-80&quot;,
		&quot;purgeLocked&quot;: false,
		&quot;testStatus&quot;: null,
		&quot;submitted&quot;: &quot;2018-06-14T17:09:52.51Z&quot;,
		&quot;started&quot;: &quot;2018-06-14T17:09:54.047Z&quot;,
		&quot;finished&quot;: &quot;2018-06-14T17:10:04.587Z&quot;,
		&quot;jobFiles&quot;: null,
		&quot;jobProperties&quot;: null,
		&quot;name&quot;: &quot;Test Job&quot;
	}, {
		&quot;queue&quot;: &quot;AndrewsQueue&quot;,
		&quot;input&quot;: &quot;/mnt/autofs/input/print/bank-data-5-trans-1-error.xml&quot;,
		&quot;progress&quot;: &quot;10&quot;,
		&quot;project&quot;: 157673530,
		&quot;type&quot;: &quot;TRANSACTION_FILE&quot;,
		&quot;id&quot;: 229,
		&quot;config&quot;: 157811929,
		&quot;range&quot;: null,
		&quot;status&quot;: &quot;FAILED&quot;,
		&quot;inputData&quot;: null,
		&quot;configData&quot;: null,
		&quot;appliance&quot;: &quot;AndrewsAppliance_08-00-27-92-C2-80&quot;,
		&quot;purgeLocked&quot;: false,
		&quot;testStatus&quot;: null,
		&quot;submitted&quot;: &quot;2018-06-08T11:52:13.24Z&quot;,
		&quot;started&quot;: &quot;2018-06-08T11:52:15.757Z&quot;,
		&quot;finished&quot;: &quot;2018-06-08T11:52:24.417Z&quot;,
		&quot;jobFiles&quot;: null,
		&quot;jobProperties&quot;: null,
		&quot;name&quot;: &quot;Test Job&quot;
	}, {
		&quot;queue&quot;: &quot;AndrewsQueue&quot;,
		&quot;input&quot;: &quot;/mnt/autofs/input/print/bank-data-5-trans-1-error.xml&quot;,
		&quot;progress&quot;: &quot;10&quot;,
		&quot;project&quot;: 157673530,
		&quot;type&quot;: &quot;TRANSACTION_FILE&quot;,
		&quot;id&quot;: 228,
		&quot;config&quot;: 157811929,
		&quot;range&quot;: null,
		&quot;status&quot;: &quot;FAILED&quot;,
		&quot;inputData&quot;: null,
		&quot;configData&quot;: null,
		&quot;appliance&quot;: &quot;AndrewsAppliance_08-00-27-92-C2-80&quot;,
		&quot;purgeLocked&quot;: false,
		&quot;testStatus&quot;: null,
		&quot;submitted&quot;: &quot;2018-06-08T11:49:26.81Z&quot;,
		&quot;started&quot;: &quot;2018-06-08T11:49:35.757Z&quot;,
		&quot;finished&quot;: &quot;2018-06-08T11:50:53.307Z&quot;,
		&quot;jobFiles&quot;: null,
		&quot;jobProperties&quot;: null,
		&quot;name&quot;: &quot;Test Job&quot;
	}, {
		&quot;queue&quot;: &quot;AndrewsQueue&quot;,
		&quot;input&quot;: null,
		&quot;progress&quot;: &quot;0&quot;,
		&quot;project&quot;: null,
		&quot;type&quot;: &quot;BIN&quot;,
		&quot;id&quot;: 227,
		&quot;config&quot;: null,
		&quot;range&quot;: null,
		&quot;status&quot;: &quot;FAILED&quot;,
		&quot;inputData&quot;: null,
		&quot;configData&quot;: null,
		&quot;appliance&quot;: &quot;AndrewsAppliance_08-00-27-92-C2-80&quot;,
		&quot;purgeLocked&quot;: false,
		&quot;testStatus&quot;: null,
		&quot;submitted&quot;: &quot;2018-06-08T11:01:14.147Z&quot;,
		&quot;started&quot;: &quot;2018-06-08T11:01:15.803Z&quot;,
		&quot;finished&quot;: &quot;2018-06-08T11:01:19.967Z&quot;,
		&quot;jobFiles&quot;: null,
		&quot;jobProperties&quot;: null,
		&quot;name&quot;: null
	}, {
		&quot;queue&quot;: &quot;AndrewsQueue&quot;,
		&quot;input&quot;: null,
		&quot;progress&quot;: &quot;0&quot;,
		&quot;project&quot;: null,
		&quot;type&quot;: &quot;BIN&quot;,
		&quot;id&quot;: 226,
		&quot;config&quot;: null,
		&quot;range&quot;: null,
		&quot;status&quot;: &quot;FAILED&quot;,
		&quot;inputData&quot;: null,
		&quot;configData&quot;: null,
		&quot;appliance&quot;: &quot;AndrewsAppliance_08-00-27-92-C2-80&quot;,
		&quot;purgeLocked&quot;: false,
		&quot;testStatus&quot;: null,
		&quot;submitted&quot;: &quot;2018-06-08T11:01:07.553Z&quot;,
		&quot;started&quot;: &quot;2018-06-08T11:01:08.737Z&quot;,
		&quot;finished&quot;: &quot;2018-06-08T11:01:12.157Z&quot;,
		&quot;jobFiles&quot;: null,
		&quot;jobProperties&quot;: null,
		&quot;name&quot;: null
	}, {
		&quot;queue&quot;: &quot;AndrewsQueue&quot;,
		&quot;input&quot;: null,
		&quot;progress&quot;: &quot;0&quot;,
		&quot;project&quot;: null,
		&quot;type&quot;: &quot;BUNDLE&quot;,
		&quot;id&quot;: 225,
		&quot;config&quot;: null,
		&quot;range&quot;: null,
		&quot;status&quot;: &quot;FAILED&quot;,
		&quot;inputData&quot;: null,
		&quot;configData&quot;: null,
		&quot;appliance&quot;: &quot;AndrewsAppliance_08-00-27-92-C2-80&quot;,
		&quot;purgeLocked&quot;: false,
		&quot;testStatus&quot;: null,
		&quot;submitted&quot;: &quot;2018-06-08T11:00:57.327Z&quot;,
		&quot;started&quot;: &quot;2018-06-08T11:01:12.67Z&quot;,
		&quot;finished&quot;: &quot;2018-06-08T11:01:19.27Z&quot;,
		&quot;jobFiles&quot;: null,
		&quot;jobProperties&quot;: null,
		&quot;name&quot;: null
	}, {
		&quot;queue&quot;: &quot;AndrewsQueue&quot;,
		&quot;input&quot;: null,
		&quot;progress&quot;: &quot;0&quot;,
		&quot;project&quot;: null,
		&quot;type&quot;: &quot;BUNDLE&quot;,
		&quot;id&quot;: 374,
		&quot;config&quot;: null,
		&quot;range&quot;: null,
		&quot;status&quot;: &quot;FAILED&quot;,
		&quot;inputData&quot;: null,
		&quot;configData&quot;: null,
		&quot;appliance&quot;: &quot;AndrewsAppliance_08-00-27-92-C2-80&quot;,
		&quot;purgeLocked&quot;: false,
		&quot;testStatus&quot;: null,
		&quot;submitted&quot;: &quot;2018-06-08T11:00:56.717Z&quot;,
		&quot;started&quot;: &quot;2018-06-08T11:01:05.577Z&quot;,
		&quot;finished&quot;: &quot;2018-06-08T11:01:11.497Z&quot;,
		&quot;jobFiles&quot;: null,
		&quot;jobProperties&quot;: null,
		&quot;name&quot;: null
	}, {
		&quot;queue&quot;: &quot;AndrewsQueue&quot;,
		&quot;input&quot;: &quot;/mnt/autofs/input/print/bank-data-5-trans-1-error.xml&quot;,
		&quot;progress&quot;: &quot;10&quot;,
		&quot;project&quot;: 157673530,
		&quot;type&quot;: &quot;TRANSACTION_FILE&quot;,
		&quot;id&quot;: 223,
		&quot;config&quot;: 157811929,
		&quot;range&quot;: null,
		&quot;status&quot;: &quot;FAILED&quot;,
		&quot;inputData&quot;: null,
		&quot;configData&quot;: null,
		&quot;appliance&quot;: &quot;AndrewsAppliance_08-00-27-92-C2-80&quot;,
		&quot;purgeLocked&quot;: false,
		&quot;testStatus&quot;: null,
		&quot;submitted&quot;: &quot;2018-06-08T11:00:41.193Z&quot;,
		&quot;started&quot;: &quot;2018-06-08T11:00:45.587Z&quot;,
		&quot;finished&quot;: &quot;2018-06-08T11:01:20.66Z&quot;,
		&quot;jobFiles&quot;: null,
		&quot;jobProperties&quot;: null,
		&quot;name&quot;: &quot;Test Job&quot;
	}, {
		&quot;queue&quot;: &quot;AndrewsQueue&quot;,
		&quot;input&quot;: null,
		&quot;progress&quot;: &quot;0&quot;,
		&quot;project&quot;: null,
		&quot;type&quot;: &quot;BIN&quot;,
		&quot;id&quot;: 222,
		&quot;config&quot;: null,
		&quot;range&quot;: null,
		&quot;status&quot;: &quot;FAILED&quot;,
		&quot;inputData&quot;: null,
		&quot;configData&quot;: null,
		&quot;appliance&quot;: &quot;AndrewsAppliance_08-00-27-92-C2-80&quot;,
		&quot;purgeLocked&quot;: false,
		&quot;testStatus&quot;: null,
		&quot;submitted&quot;: &quot;2018-06-08T10:23:13.717Z&quot;,
		&quot;started&quot;: &quot;2018-06-08T10:23:15.063Z&quot;,
		&quot;finished&quot;: &quot;2018-06-08T10:23:19.063Z&quot;,
		&quot;jobFiles&quot;: null,
		&quot;jobProperties&quot;: null,
		&quot;name&quot;: null
	}, {
		&quot;queue&quot;: &quot;AndrewsQueue&quot;,
		&quot;input&quot;: null,
		&quot;progress&quot;: &quot;0&quot;,
		&quot;project&quot;: null,
		&quot;type&quot;: &quot;BUNDLE&quot;,
		&quot;id&quot;: 220,
		&quot;config&quot;: null,
		&quot;range&quot;: null,
		&quot;status&quot;: &quot;FAILED&quot;,
		&quot;inputData&quot;: null,
		&quot;configData&quot;: null,
		&quot;appliance&quot;: &quot;AndrewsAppliance_08-00-27-92-C2-80&quot;,
		&quot;purgeLocked&quot;: false,
		&quot;testStatus&quot;: null,
		&quot;submitted&quot;: &quot;2018-06-08T10:22:56.983Z&quot;,
		&quot;started&quot;: &quot;2018-06-08T10:23:12.207Z&quot;,
		&quot;finished&quot;: &quot;2018-06-08T10:23:18.433Z&quot;,
		&quot;jobFiles&quot;: null,
		&quot;jobProperties&quot;: null,
		&quot;name&quot;: null
	}, {
		&quot;queue&quot;: &quot;AndrewsQueue&quot;,
		&quot;input&quot;: &quot;/mnt/autofs/input/print/bank-data-5-trans-1-error.xml&quot;,
		&quot;progress&quot;: &quot;10&quot;,
		&quot;project&quot;: 157673530,
		&quot;type&quot;: &quot;TRANSACTION_FILE&quot;,
		&quot;id&quot;: 218,
		&quot;config&quot;: 157811929,
		&quot;range&quot;: null,
		&quot;status&quot;: &quot;FAILED&quot;,
		&quot;inputData&quot;: null,
		&quot;configData&quot;: null,
		&quot;appliance&quot;: &quot;AndrewsAppliance_08-00-27-92-C2-80&quot;,
		&quot;purgeLocked&quot;: false,
		&quot;testStatus&quot;: null,
		&quot;submitted&quot;: &quot;2018-06-08T10:22:29.123Z&quot;,
		&quot;started&quot;: &quot;2018-06-08T10:22:36.847Z&quot;,
		&quot;finished&quot;: &quot;2018-06-08T10:23:24.93Z&quot;,
		&quot;jobFiles&quot;: null,
		&quot;jobProperties&quot;: null,
		&quot;name&quot;: &quot;Test Job&quot;
	}, {
		&quot;queue&quot;: &quot;AndrewsQueue&quot;,
		&quot;input&quot;: &quot;/mnt/autofs/input/reprint/bank-data-5-trans-1-error.xml&quot;,
		&quot;progress&quot;: &quot;10&quot;,
		&quot;project&quot;: 157673530,
		&quot;type&quot;: &quot;TRANSACTION_FILE&quot;,
		&quot;id&quot;: 216,
		&quot;config&quot;: 157811929,
		&quot;range&quot;: null,
		&quot;status&quot;: &quot;FAILED&quot;,
		&quot;inputData&quot;: null,
		&quot;configData&quot;: null,
		&quot;appliance&quot;: &quot;AndrewsAppliance_08-00-27-92-C2-80&quot;,
		&quot;purgeLocked&quot;: false,
		&quot;testStatus&quot;: null,
		&quot;submitted&quot;: &quot;2018-06-08T10:17:42.79Z&quot;,
		&quot;started&quot;: &quot;2018-06-08T10:17:45.487Z&quot;,
		&quot;finished&quot;: &quot;2018-06-08T10:17:56.717Z&quot;,
		&quot;jobFiles&quot;: null,
		&quot;jobProperties&quot;: null,
		&quot;name&quot;: &quot;Test Job&quot;
	}, {
		&quot;queue&quot;: &quot;AndrewsQueue&quot;,
		&quot;input&quot;: &quot;/mnt/autofs/input/email/bank-data-5-trans-1-error.xml&quot;,
		&quot;progress&quot;: &quot;10&quot;,
		&quot;project&quot;: 157673530,
		&quot;type&quot;: &quot;TRANSACTION_FILE&quot;,
		&quot;id&quot;: 214,
		&quot;config&quot;: 157811929,
		&quot;range&quot;: null,
		&quot;status&quot;: &quot;FAILED&quot;,
		&quot;inputData&quot;: null,
		&quot;configData&quot;: null,
		&quot;appliance&quot;: &quot;AndrewsAppliance_08-00-27-92-C2-80&quot;,
		&quot;purgeLocked&quot;: false,
		&quot;testStatus&quot;: null,
		&quot;submitted&quot;: &quot;2018-06-08T10:12:54.313Z&quot;,
		&quot;started&quot;: &quot;2018-06-08T10:12:55.43Z&quot;,
		&quot;finished&quot;: &quot;2018-06-08T10:13:10.867Z&quot;,
		&quot;jobFiles&quot;: null,
		&quot;jobProperties&quot;: null,
		&quot;name&quot;: &quot;Test Job&quot;
	}, {
		&quot;queue&quot;: &quot;AndrewsQueue&quot;,
		&quot;input&quot;: &quot;/mnt/autofs/input/email/bank-data-5-trans-1-error.xml&quot;,
		&quot;progress&quot;: &quot;10&quot;,
		&quot;project&quot;: 157673530,
		&quot;type&quot;: &quot;TRANSACTION_FILE&quot;,
		&quot;id&quot;: 213,
		&quot;config&quot;: 157811929,
		&quot;range&quot;: null,
		&quot;status&quot;: &quot;FAILED&quot;,
		&quot;inputData&quot;: null,
		&quot;configData&quot;: null,
		&quot;appliance&quot;: &quot;AndrewsAppliance_08-00-27-92-C2-80&quot;,
		&quot;purgeLocked&quot;: false,
		&quot;testStatus&quot;: null,
		&quot;submitted&quot;: &quot;2018-06-08T10:00:26.163Z&quot;,
		&quot;started&quot;: &quot;2018-06-08T10:00:35.553Z&quot;,
		&quot;finished&quot;: &quot;2018-06-08T10:00:55.46Z&quot;,
		&quot;jobFiles&quot;: null,
		&quot;jobProperties&quot;: null,
		&quot;name&quot;: &quot;Test Job&quot;
	}, {
		&quot;queue&quot;: &quot;AndrewsQueue&quot;,
		&quot;input&quot;: &quot;/mnt/autofs/input/email/bank-data-5-trans-1-error.xml&quot;,
		&quot;progress&quot;: &quot;10&quot;,
		&quot;project&quot;: 157673530,
		&quot;type&quot;: &quot;TRANSACTION_FILE&quot;,
		&quot;id&quot;: 212,
		&quot;config&quot;: 157811929,
		&quot;range&quot;: null,
		&quot;status&quot;: &quot;FAILED&quot;,
		&quot;inputData&quot;: null,
		&quot;configData&quot;: null,
		&quot;appliance&quot;: &quot;AndrewsAppliance_08-00-27-92-C2-80&quot;,
		&quot;purgeLocked&quot;: false,
		&quot;testStatus&quot;: null,
		&quot;submitted&quot;: &quot;2018-06-08T09:24:05.037Z&quot;,
		&quot;started&quot;: &quot;2018-06-08T09:24:15.317Z&quot;,
		&quot;finished&quot;: &quot;2018-06-08T09:24:33.807Z&quot;,
		&quot;jobFiles&quot;: null,
		&quot;jobProperties&quot;: null,
		&quot;name&quot;: &quot;Test Job&quot;
	}, {
		&quot;queue&quot;: &quot;AndrewsQueue&quot;,
		&quot;input&quot;: null,
		&quot;progress&quot;: &quot;0&quot;,
		&quot;project&quot;: null,
		&quot;type&quot;: &quot;BIN&quot;,
		&quot;id&quot;: 211,
		&quot;config&quot;: null,
		&quot;range&quot;: null,
		&quot;status&quot;: &quot;FAILED&quot;,
		&quot;inputData&quot;: null,
		&quot;configData&quot;: null,
		&quot;appliance&quot;: &quot;AndrewsAppliance_08-00-27-92-C2-80&quot;,
		&quot;purgeLocked&quot;: false,
		&quot;testStatus&quot;: null,
		&quot;submitted&quot;: &quot;2018-06-08T08:58:03.87Z&quot;,
		&quot;started&quot;: &quot;2018-06-08T08:58:05.463Z&quot;,
		&quot;finished&quot;: &quot;2018-06-08T08:58:09.267Z&quot;,
		&quot;jobFiles&quot;: null,
		&quot;jobProperties&quot;: null,
		&quot;name&quot;: null
	}, {
		&quot;queue&quot;: &quot;AndrewsQueue&quot;,
		&quot;input&quot;: null,
		&quot;progress&quot;: &quot;0&quot;,
		&quot;project&quot;: null,
		&quot;type&quot;: &quot;BUNDLE&quot;,
		&quot;id&quot;: 209,
		&quot;config&quot;: null,
		&quot;range&quot;: null,
		&quot;status&quot;: &quot;FAILED&quot;,
		&quot;inputData&quot;: null,
		&quot;configData&quot;: null,
		&quot;appliance&quot;: &quot;AndrewsAppliance_08-00-27-92-C2-80&quot;,
		&quot;purgeLocked&quot;: false,
		&quot;testStatus&quot;: null,
		&quot;submitted&quot;: &quot;2018-06-08T08:57:56.203Z&quot;,
		&quot;started&quot;: &quot;2018-06-08T08:58:02.347Z&quot;,
		&quot;finished&quot;: &quot;2018-06-08T08:58:08.543Z&quot;,
		&quot;jobFiles&quot;: null,
		&quot;jobProperties&quot;: null,
		&quot;name&quot;: null
	}, {
		&quot;queue&quot;: &quot;AndrewsQueue&quot;,
		&quot;input&quot;: &quot;/mnt/autofs/input/print/bank-data-5-trans-1-error.xml&quot;,
		&quot;progress&quot;: &quot;10&quot;,
		&quot;project&quot;: 157673530,
		&quot;type&quot;: &quot;TRANSACTION_FILE&quot;,
		&quot;id&quot;: 207,
		&quot;config&quot;: 157811929,
		&quot;range&quot;: null,
		&quot;status&quot;: &quot;FAILED&quot;,
		&quot;inputData&quot;: null,
		&quot;configData&quot;: null,
		&quot;appliance&quot;: &quot;AndrewsAppliance_08-00-27-92-C2-80&quot;,
		&quot;purgeLocked&quot;: false,
		&quot;testStatus&quot;: null,
		&quot;submitted&quot;: &quot;2018-06-08T08:57:41.187Z&quot;,
		&quot;started&quot;: &quot;2018-06-08T08:57:45.277Z&quot;,
		&quot;finished&quot;: &quot;2018-06-08T08:58:15.477Z&quot;,
		&quot;jobFiles&quot;: null,
		&quot;jobProperties&quot;: null,
		&quot;name&quot;: &quot;Test Job&quot;
	}, {
		&quot;queue&quot;: &quot;AndrewsQueue&quot;,
		&quot;input&quot;: &quot;/mnt/autofs/input/email/bank-data-5-trans-1-error.xml&quot;,
		&quot;progress&quot;: &quot;10&quot;,
		&quot;project&quot;: 157673530,
		&quot;type&quot;: &quot;TRANSACTION_FILE&quot;,
		&quot;id&quot;: 206,
		&quot;config&quot;: 157811929,
		&quot;range&quot;: null,
		&quot;status&quot;: &quot;FAILED&quot;,
		&quot;inputData&quot;: null,
		&quot;configData&quot;: null,
		&quot;appliance&quot;: &quot;AndrewsAppliance_08-00-27-92-C2-80&quot;,
		&quot;purgeLocked&quot;: false,
		&quot;testStatus&quot;: null,
		&quot;submitted&quot;: &quot;2018-06-08T08:55:00.117Z&quot;,
		&quot;started&quot;: &quot;2018-06-08T08:55:04.723Z&quot;,
		&quot;finished&quot;: &quot;2018-06-08T08:55:14.547Z&quot;,
		&quot;jobFiles&quot;: null,
		&quot;jobProperties&quot;: null,
		&quot;name&quot;: &quot;Test Job&quot;
	}, {
		&quot;queue&quot;: &quot;AndrewsQueue&quot;,
		&quot;input&quot;: &quot;/mnt/autofs/input/email/bank-data-5-trans.xml&quot;,
		&quot;progress&quot;: &quot;10&quot;,
		&quot;project&quot;: 157673530,
		&quot;type&quot;: &quot;TRANSACTION_FILE&quot;,
		&quot;id&quot;: 199,
		&quot;config&quot;: 157811929,
		&quot;range&quot;: null,
		&quot;status&quot;: &quot;FAILED&quot;,
		&quot;inputData&quot;: null,
		&quot;configData&quot;: null,
		&quot;appliance&quot;: &quot;AndrewsAppliance_08-00-27-92-C2-80&quot;,
		&quot;purgeLocked&quot;: false,
		&quot;testStatus&quot;: null,
		&quot;submitted&quot;: &quot;2018-06-08T08:46:14.687Z&quot;,
		&quot;started&quot;: &quot;2018-06-08T08:46:21.403Z&quot;,
		&quot;finished&quot;: &quot;2018-06-08T08:46:56.08Z&quot;,
		&quot;jobFiles&quot;: null,
		&quot;jobProperties&quot;: null,
		&quot;name&quot;: &quot;Test Job&quot;
	}, {
		&quot;queue&quot;: &quot;AndrewsQueue&quot;,
		&quot;input&quot;: &quot;/mnt/autofs/input/bank-data-5-trans-1-error.xml&quot;,
		&quot;progress&quot;: &quot;10&quot;,
		&quot;project&quot;: 157673530,
		&quot;type&quot;: &quot;TRANSACTION_FILE&quot;,
		&quot;id&quot;: 197,
		&quot;config&quot;: 157811929,
		&quot;range&quot;: null,
		&quot;status&quot;: &quot;FAILED&quot;,
		&quot;inputData&quot;: null,
		&quot;configData&quot;: null,
		&quot;appliance&quot;: &quot;AndrewsAppliance_08-00-27-92-C2-80&quot;,
		&quot;purgeLocked&quot;: false,
		&quot;testStatus&quot;: null,
		&quot;submitted&quot;: &quot;2018-06-06T16:40:17.773Z&quot;,
		&quot;started&quot;: &quot;2018-06-06T16:40:22.703Z&quot;,
		&quot;finished&quot;: &quot;2018-06-06T16:41:18.497Z&quot;,
		&quot;jobFiles&quot;: null,
		&quot;jobProperties&quot;: null,
		&quot;name&quot;: &quot;Test Job&quot;
	}, {
		&quot;queue&quot;: &quot;AndrewsQueue&quot;,
		&quot;input&quot;: null,
		&quot;progress&quot;: &quot;0&quot;,
		&quot;project&quot;: null,
		&quot;type&quot;: &quot;BIN&quot;,
		&quot;id&quot;: 196,
		&quot;config&quot;: null,
		&quot;range&quot;: null,
		&quot;status&quot;: &quot;FAILED&quot;,
		&quot;inputData&quot;: null,
		&quot;configData&quot;: null,
		&quot;appliance&quot;: &quot;AndrewsAppliance_08-00-27-92-C2-80&quot;,
		&quot;purgeLocked&quot;: false,
		&quot;testStatus&quot;: null,
		&quot;submitted&quot;: &quot;2018-06-06T16:33:21.867Z&quot;,
		&quot;started&quot;: &quot;2018-06-06T16:33:23.043Z&quot;,
		&quot;finished&quot;: &quot;2018-06-06T16:33:27.817Z&quot;,
		&quot;jobFiles&quot;: null,
		&quot;jobProperties&quot;: null,
		&quot;name&quot;: null
	}, {
		&quot;queue&quot;: &quot;AndrewsQueue&quot;,
		&quot;input&quot;: null,
		&quot;progress&quot;: &quot;0&quot;,
		&quot;project&quot;: null,
		&quot;type&quot;: &quot;BUNDLE&quot;,
		&quot;id&quot;: 194,
		&quot;config&quot;: null,
		&quot;range&quot;: null,
		&quot;status&quot;: &quot;FAILED&quot;,
		&quot;inputData&quot;: null,
		&quot;configData&quot;: null,
		&quot;appliance&quot;: &quot;AndrewsAppliance_08-00-27-92-C2-80&quot;,
		&quot;purgeLocked&quot;: false,
		&quot;testStatus&quot;: null,
		&quot;submitted&quot;: &quot;2018-06-06T16:33:02.983Z&quot;,
		&quot;started&quot;: &quot;2018-06-06T16:33:20.17Z&quot;,
		&quot;finished&quot;: &quot;2018-06-06T16:33:26.993Z&quot;,
		&quot;jobFiles&quot;: null,
		&quot;jobProperties&quot;: null,
		&quot;name&quot;: null
	}, {
		&quot;queue&quot;: &quot;AndrewsQueue&quot;,
		&quot;input&quot;: &quot;/mnt/autofs/input/bank-data-5-trans-1-error.xml&quot;,
		&quot;progress&quot;: &quot;10&quot;,
		&quot;project&quot;: 157673530,
		&quot;type&quot;: &quot;TRANSACTION_FILE&quot;,
		&quot;id&quot;: 192,
		&quot;config&quot;: 157811929,
		&quot;range&quot;: null,
		&quot;status&quot;: &quot;FAILED&quot;,
		&quot;inputData&quot;: null,
		&quot;configData&quot;: null,
		&quot;appliance&quot;: &quot;AndrewsAppliance_08-00-27-92-C2-80&quot;,
		&quot;purgeLocked&quot;: false,
		&quot;testStatus&quot;: null,
		&quot;submitted&quot;: &quot;2018-06-06T16:32:14.253Z&quot;,
		&quot;started&quot;: &quot;2018-06-06T16:32:22.657Z&quot;,
		&quot;finished&quot;: &quot;2018-06-06T16:33:35.41Z&quot;,
		&quot;jobFiles&quot;: null,
		&quot;jobProperties&quot;: null,
		&quot;name&quot;: &quot;Test Job&quot;
	}, {
		&quot;queue&quot;: &quot;AndrewsQueue&quot;,
		&quot;input&quot;: null,
		&quot;progress&quot;: &quot;0&quot;,
		&quot;project&quot;: null,
		&quot;type&quot;: &quot;BIN&quot;,
		&quot;id&quot;: 191,
		&quot;config&quot;: null,
		&quot;range&quot;: null,
		&quot;status&quot;: &quot;FAILED&quot;,
		&quot;inputData&quot;: null,
		&quot;configData&quot;: null,
		&quot;appliance&quot;: &quot;AndrewsAppliance_08-00-27-92-C2-80&quot;,
		&quot;purgeLocked&quot;: false,
		&quot;testStatus&quot;: null,
		&quot;submitted&quot;: &quot;2018-06-06T15:52:07.433Z&quot;,
		&quot;started&quot;: &quot;2018-06-06T15:52:08.747Z&quot;,
		&quot;finished&quot;: &quot;2018-06-06T15:52:13.423Z&quot;,
		&quot;jobFiles&quot;: null,
		&quot;jobProperties&quot;: null,
		&quot;name&quot;: null
	}, {
		&quot;queue&quot;: &quot;AndrewsQueue&quot;,
		&quot;input&quot;: null,
		&quot;progress&quot;: &quot;0&quot;,
		&quot;project&quot;: null,
		&quot;type&quot;: &quot;BUNDLE&quot;,
		&quot;id&quot;: 189,
		&quot;config&quot;: null,
		&quot;range&quot;: null,
		&quot;status&quot;: &quot;FAILED&quot;,
		&quot;inputData&quot;: null,
		&quot;configData&quot;: null,
		&quot;appliance&quot;: &quot;AndrewsAppliance_08-00-27-92-C2-80&quot;,
		&quot;purgeLocked&quot;: false,
		&quot;testStatus&quot;: null,
		&quot;submitted&quot;: &quot;2018-06-06T15:51:53.08Z&quot;,
		&quot;started&quot;: &quot;2018-06-06T15:52:05.76Z&quot;,
		&quot;finished&quot;: &quot;2018-06-06T15:52:12.707Z&quot;,
		&quot;jobFiles&quot;: null,
		&quot;jobProperties&quot;: null,
		&quot;name&quot;: null
	}, {
		&quot;queue&quot;: &quot;AndrewsQueue&quot;,
		&quot;input&quot;: &quot;/mnt/autofs/input/bank-data-5-trans-1-error.xml&quot;,
		&quot;progress&quot;: &quot;10&quot;,
		&quot;project&quot;: 157673530,
		&quot;type&quot;: &quot;TRANSACTION_FILE&quot;,
		&quot;id&quot;: 187,
		&quot;config&quot;: 157811929,
		&quot;range&quot;: null,
		&quot;status&quot;: &quot;FAILED&quot;,
		&quot;inputData&quot;: null,
		&quot;configData&quot;: null,
		&quot;appliance&quot;: &quot;AndrewsAppliance_08-00-27-92-C2-80&quot;,
		&quot;purgeLocked&quot;: false,
		&quot;testStatus&quot;: null,
		&quot;submitted&quot;: &quot;2018-06-06T15:47:42.89Z&quot;,
		&quot;started&quot;: &quot;2018-06-06T15:51:08.477Z&quot;,
		&quot;finished&quot;: &quot;2018-06-06T15:52:16.993Z&quot;,
		&quot;jobFiles&quot;: null,
		&quot;jobProperties&quot;: null,
		&quot;name&quot;: &quot;Test Job&quot;
	}, {
		&quot;queue&quot;: &quot;AndrewsQueue&quot;,
		&quot;input&quot;: &quot;/mnt/autofs/input/bank-data-5-trans-1-error.xml&quot;,
		&quot;progress&quot;: null,
		&quot;project&quot;: 157673530,
		&quot;type&quot;: &quot;TRANSACTION_FILE&quot;,
		&quot;id&quot;: 186,
		&quot;config&quot;: 157811929,
		&quot;range&quot;: null,
		&quot;status&quot;: &quot;FAILED&quot;,
		&quot;inputData&quot;: null,
		&quot;configData&quot;: null,
		&quot;appliance&quot;: &quot;AndrewsAppliance_08-00-27-92-C2-80&quot;,
		&quot;purgeLocked&quot;: false,
		&quot;testStatus&quot;: null,
		&quot;submitted&quot;: &quot;2018-06-06T14:55:13.833Z&quot;,
		&quot;started&quot;: &quot;2018-06-06T15:41:00.007Z&quot;,
		&quot;finished&quot;: &quot;2018-06-06T15:42:31Z&quot;,
		&quot;jobFiles&quot;: null,
		&quot;jobProperties&quot;: null,
		&quot;name&quot;: &quot;Test Job&quot;
	}, {
		&quot;queue&quot;: &quot;AndrewsQueue&quot;,
		&quot;input&quot;: null,
		&quot;progress&quot;: &quot;0&quot;,
		&quot;project&quot;: null,
		&quot;type&quot;: &quot;BIN&quot;,
		&quot;id&quot;: 185,
		&quot;config&quot;: null,
		&quot;range&quot;: null,
		&quot;status&quot;: &quot;FAILED&quot;,
		&quot;inputData&quot;: null,
		&quot;configData&quot;: null,
		&quot;appliance&quot;: &quot;AndrewsAppliance_08-00-27-92-C2-80&quot;,
		&quot;purgeLocked&quot;: false,
		&quot;testStatus&quot;: null,
		&quot;submitted&quot;: &quot;2018-06-04T10:40:31.343Z&quot;,
		&quot;started&quot;: &quot;2018-06-04T10:40:32.577Z&quot;,
		&quot;finished&quot;: &quot;2018-06-04T10:40:37.107Z&quot;,
		&quot;jobFiles&quot;: null,
		&quot;jobProperties&quot;: null,
		&quot;name&quot;: null
	}, {
		&quot;queue&quot;: &quot;AndrewsQueue&quot;,
		&quot;input&quot;: null,
		&quot;progress&quot;: &quot;0&quot;,
		&quot;project&quot;: null,
		&quot;type&quot;: &quot;BUNDLE&quot;,
		&quot;id&quot;: 183,
		&quot;config&quot;: null,
		&quot;range&quot;: null,
		&quot;status&quot;: &quot;FAILED&quot;,
		&quot;inputData&quot;: null,
		&quot;configData&quot;: null,
		&quot;appliance&quot;: &quot;AndrewsAppliance_08-00-27-92-C2-80&quot;,
		&quot;purgeLocked&quot;: false,
		&quot;testStatus&quot;: null,
		&quot;submitted&quot;: &quot;2018-06-04T10:40:20.793Z&quot;,
		&quot;started&quot;: &quot;2018-06-04T10:40:29.81Z&quot;,
		&quot;finished&quot;: &quot;2018-06-04T10:40:36.337Z&quot;,
		&quot;jobFiles&quot;: null,
		&quot;jobProperties&quot;: null,
		&quot;name&quot;: null
	}, {
		&quot;queue&quot;: &quot;AndrewsQueue&quot;,
		&quot;input&quot;: &quot;/mnt/autofs/input/bank-data-5-trans-1-error.xml&quot;,
		&quot;progress&quot;: &quot;10&quot;,
		&quot;project&quot;: 157673530,
		&quot;type&quot;: &quot;TRANSACTION_FILE&quot;,
		&quot;id&quot;: 4,
		&quot;config&quot;: 157811929,
		&quot;range&quot;: null,
		&quot;status&quot;: &quot;FAILED&quot;,
		&quot;inputData&quot;: null,
		&quot;configData&quot;: null,
		&quot;appliance&quot;: &quot;AndrewsAppliance_08-00-27-92-C2-80&quot;,
		&quot;purgeLocked&quot;: false,
		&quot;testStatus&quot;: null,
		&quot;submitted&quot;: &quot;2018-06-04T10:39:53.683Z&quot;,
		&quot;started&quot;: &quot;2018-06-04T10:40:03.487Z&quot;,
		&quot;finished&quot;: &quot;2018-06-04T10:40:43.697Z&quot;,
		&quot;jobFiles&quot;: null,
		&quot;jobProperties&quot;: null,
		&quot;name&quot;: &quot;Test Job&quot;
	}, {
		&quot;queue&quot;: &quot;AndrewsQueue&quot;,
		&quot;input&quot;: null,
		&quot;progress&quot;: &quot;0&quot;,
		&quot;project&quot;: null,
		&quot;type&quot;: &quot;BUNDLE&quot;,
		&quot;id&quot;: 180,
		&quot;config&quot;: null,
		&quot;range&quot;: null,
		&quot;status&quot;: &quot;FAILED&quot;,
		&quot;inputData&quot;: null,
		&quot;configData&quot;: null,
		&quot;appliance&quot;: &quot;AndrewsAppliance_08-00-27-92-C2-80&quot;,
		&quot;purgeLocked&quot;: false,
		&quot;testStatus&quot;: null,
		&quot;submitted&quot;: &quot;2018-06-04T10:37:47.313Z&quot;,
		&quot;started&quot;: &quot;2018-06-04T10:37:53.393Z&quot;,
		&quot;finished&quot;: &quot;2018-06-04T10:37:56.47Z&quot;,
		&quot;jobFiles&quot;: null,
		&quot;jobProperties&quot;: null,
		&quot;name&quot;: null
	}, {
		&quot;queue&quot;: &quot;AndrewsQueue&quot;,
		&quot;input&quot;: &quot;/mnt/autofs/input/bank-data-5-trans-1-error.xml&quot;,
		&quot;progress&quot;: &quot;10&quot;,
		&quot;project&quot;: 157673530,
		&quot;type&quot;: &quot;TRANSACTION_FILE&quot;,
		&quot;id&quot;: 177,
		&quot;config&quot;: 157811929,
		&quot;range&quot;: null,
		&quot;status&quot;: &quot;FAILED&quot;,
		&quot;inputData&quot;: null,
		&quot;configData&quot;: null,
		&quot;appliance&quot;: &quot;AndrewsAppliance_08-00-27-92-C2-80&quot;,
		&quot;purgeLocked&quot;: false,
		&quot;testStatus&quot;: null,
		&quot;submitted&quot;: &quot;2018-06-04T10:36:54.403Z&quot;,
		&quot;started&quot;: &quot;2018-06-04T10:37:03.387Z&quot;,
		&quot;finished&quot;: &quot;2018-06-04T10:38:01.61Z&quot;,
		&quot;jobFiles&quot;: null,
		&quot;jobProperties&quot;: null,
		&quot;name&quot;: &quot;Test Job&quot;
	}, {
		&quot;queue&quot;: &quot;AndrewsQueue&quot;,
		&quot;input&quot;: null,
		&quot;progress&quot;: &quot;0&quot;,
		&quot;project&quot;: null,
		&quot;type&quot;: &quot;BIN&quot;,
		&quot;id&quot;: 176,
		&quot;config&quot;: null,
		&quot;range&quot;: null,
		&quot;status&quot;: &quot;FAILED&quot;,
		&quot;inputData&quot;: null,
		&quot;configData&quot;: null,
		&quot;appliance&quot;: &quot;AndrewsAppliance_08-00-27-92-C2-80&quot;,
		&quot;purgeLocked&quot;: false,
		&quot;testStatus&quot;: null,
		&quot;submitted&quot;: &quot;2018-06-01T09:41:33.927Z&quot;,
		&quot;started&quot;: &quot;2018-06-01T09:41:35.55Z&quot;,
		&quot;finished&quot;: &quot;2018-06-01T09:41:39.363Z&quot;,
		&quot;jobFiles&quot;: null,
		&quot;jobProperties&quot;: null,
		&quot;name&quot;: null
	}, {
		&quot;queue&quot;: &quot;AndrewsQueue&quot;,
		&quot;input&quot;: null,
		&quot;progress&quot;: &quot;0&quot;,
		&quot;project&quot;: null,
		&quot;type&quot;: &quot;BUNDLE&quot;,
		&quot;id&quot;: 1,
		&quot;config&quot;: null,
		&quot;range&quot;: null,
		&quot;status&quot;: &quot;FAILED&quot;,
		&quot;inputData&quot;: null,
		&quot;configData&quot;: null,
		&quot;appliance&quot;: &quot;AndrewsAppliance_08-00-27-92-C2-80&quot;,
		&quot;purgeLocked&quot;: false,
		&quot;testStatus&quot;: null,
		&quot;submitted&quot;: &quot;2018-06-01T09:41:20.033Z&quot;,
		&quot;started&quot;: &quot;2018-06-01T09:41:32.43Z&quot;,
		&quot;finished&quot;: &quot;2018-06-01T09:41:38.54Z&quot;,
		&quot;jobFiles&quot;: null,
		&quot;jobProperties&quot;: null,
		&quot;name&quot;: null
	}, {
		&quot;queue&quot;: &quot;AndrewsQueue&quot;,
		&quot;input&quot;: &quot;/mnt/autofs/input/bank-data-5-trans-1-error.xml&quot;,
		&quot;progress&quot;: &quot;10&quot;,
		&quot;project&quot;: 157673530,
		&quot;type&quot;: &quot;TRANSACTION_FILE&quot;,
		&quot;id&quot;: 172,
		&quot;config&quot;: 157811929,
		&quot;range&quot;: null,
		&quot;status&quot;: &quot;FAILED&quot;,
		&quot;inputData&quot;: null,
		&quot;configData&quot;: null,
		&quot;appliance&quot;: &quot;AndrewsAppliance_08-00-27-92-C2-80&quot;,
		&quot;purgeLocked&quot;: false,
		&quot;testStatus&quot;: null,
		&quot;submitted&quot;: &quot;2018-06-01T09:40:55.3Z&quot;,
		&quot;started&quot;: &quot;2018-06-01T09:41:05.41Z&quot;,
		&quot;finished&quot;: &quot;2018-06-01T09:41:45.807Z&quot;,
		&quot;jobFiles&quot;: null,
		&quot;jobProperties&quot;: null,
		&quot;name&quot;: &quot;Test Job&quot;
	}, {
		&quot;queue&quot;: &quot;AndrewsQueue&quot;,
		&quot;input&quot;: &quot;/mnt/autofs/input/bank-data-5-trans-1-error.xml&quot;,
		&quot;progress&quot;: &quot;0&quot;,
		&quot;project&quot;: 157673530,
		&quot;type&quot;: &quot;TRANSACTION_FILE&quot;,
		&quot;id&quot;: 171,
		&quot;config&quot;: 157811929,
		&quot;range&quot;: null,
		&quot;status&quot;: &quot;FAILED&quot;,
		&quot;inputData&quot;: null,
		&quot;configData&quot;: null,
		&quot;appliance&quot;: &quot;AndrewsAppliance_08-00-27-92-C2-80&quot;,
		&quot;purgeLocked&quot;: false,
		&quot;testStatus&quot;: null,
		&quot;submitted&quot;: &quot;2018-06-01T09:29:04.127Z&quot;,
		&quot;started&quot;: &quot;2018-06-01T09:29:05.347Z&quot;,
		&quot;finished&quot;: &quot;2018-06-01T09:29:13.167Z&quot;,
		&quot;jobFiles&quot;: null,
		&quot;jobProperties&quot;: null,
		&quot;name&quot;: &quot;Test Job&quot;
	}, {
		&quot;queue&quot;: &quot;AndrewsQueue&quot;,
		&quot;input&quot;: &quot;/mnt/autofs/input/bank-data-5-trans-1-error.xml&quot;,
		&quot;progress&quot;: &quot;10&quot;,
		&quot;project&quot;: 157673530,
		&quot;type&quot;: &quot;TRANSACTION_FILE&quot;,
		&quot;id&quot;: 158,
		&quot;config&quot;: 157811929,
		&quot;range&quot;: null,
		&quot;status&quot;: &quot;FAILED&quot;,
		&quot;inputData&quot;: null,
		&quot;configData&quot;: null,
		&quot;appliance&quot;: &quot;AndrewsAppliance_08-00-27-92-C2-80&quot;,
		&quot;purgeLocked&quot;: false,
		&quot;testStatus&quot;: null,
		&quot;submitted&quot;: &quot;2018-06-01T09:21:34.517Z&quot;,
		&quot;started&quot;: &quot;2018-06-01T09:21:35.437Z&quot;,
		&quot;finished&quot;: &quot;2018-06-01T09:24:26.69Z&quot;,
		&quot;jobFiles&quot;: null,
		&quot;jobProperties&quot;: null,
		&quot;name&quot;: &quot;Test Job&quot;
	}, {
		&quot;queue&quot;: &quot;AndrewsQueue&quot;,
		&quot;input&quot;: &quot;/mnt/autofs/input/bank-data-5-trans-1-error.xml&quot;,
		&quot;progress&quot;: &quot;10&quot;,
		&quot;project&quot;: 157673530,
		&quot;type&quot;: &quot;TRANSACTION_FILE&quot;,
		&quot;id&quot;: 155,
		&quot;config&quot;: 157811929,
		&quot;range&quot;: null,
		&quot;status&quot;: &quot;FAILED&quot;,
		&quot;inputData&quot;: null,
		&quot;configData&quot;: null,
		&quot;appliance&quot;: &quot;AndrewsAppliance_08-00-27-92-C2-80&quot;,
		&quot;purgeLocked&quot;: false,
		&quot;testStatus&quot;: null,
		&quot;submitted&quot;: &quot;2018-05-31T16:35:54.687Z&quot;,
		&quot;started&quot;: &quot;2018-05-31T16:36:04.843Z&quot;,
		&quot;finished&quot;: &quot;2018-06-01T09:22:25.033Z&quot;,
		&quot;jobFiles&quot;: null,
		&quot;jobProperties&quot;: null,
		&quot;name&quot;: &quot;Test Job&quot;
	}, {
		&quot;queue&quot;: &quot;AndrewsQueue&quot;,
		&quot;input&quot;: &quot;/mnt/autofs/input/bank-data-1-trans-fatal.xml&quot;,
		&quot;progress&quot;: &quot;2&quot;,
		&quot;project&quot;: 157673530,
		&quot;type&quot;: &quot;TRANSACTION_FILE&quot;,
		&quot;id&quot;: 8,
		&quot;config&quot;: 157811929,
		&quot;range&quot;: null,
		&quot;status&quot;: &quot;FAILED&quot;,
		&quot;inputData&quot;: null,
		&quot;configData&quot;: null,
		&quot;appliance&quot;: &quot;AndrewsAppliance_08-00-27-92-C2-80&quot;,
		&quot;purgeLocked&quot;: false,
		&quot;testStatus&quot;: null,
		&quot;submitted&quot;: &quot;2018-05-31T10:20:40.037Z&quot;,
		&quot;started&quot;: &quot;2018-05-31T10:20:43.54Z&quot;,
		&quot;finished&quot;: &quot;2018-05-31T10:21:03.127Z&quot;,
		&quot;jobFiles&quot;: null,
		&quot;jobProperties&quot;: null,
		&quot;name&quot;: &quot;Test Job&quot;
	}, {
		&quot;queue&quot;: &quot;AndrewsQueue&quot;,
		&quot;input&quot;: &quot;/mnt/autofs/input/bank-data-5-trans-1-error.xml&quot;,
		&quot;progress&quot;: &quot;10&quot;,
		&quot;project&quot;: 157673530,
		&quot;type&quot;: &quot;TRANSACTION_FILE&quot;,
		&quot;id&quot;: 3,
		&quot;config&quot;: 157811929,
		&quot;range&quot;: null,
		&quot;status&quot;: &quot;FAILED&quot;,
		&quot;inputData&quot;: null,
		&quot;configData&quot;: null,
		&quot;appliance&quot;: &quot;AndrewsAppliance_08-00-27-92-C2-80&quot;,
		&quot;purgeLocked&quot;: false,
		&quot;testStatus&quot;: null,
		&quot;submitted&quot;: &quot;2018-05-01T08:45:26.773Z&quot;,
		&quot;started&quot;: &quot;2018-05-01T08:45:36.917Z&quot;,
		&quot;finished&quot;: &quot;2018-05-01T22:05:31.45Z&quot;,
		&quot;jobFiles&quot;: null,
		&quot;jobProperties&quot;: null,
		&quot;name&quot;: &quot;Test Job&quot;
	}, {
		&quot;queue&quot;: &quot;AndrewsQueue&quot;,
		&quot;input&quot;: &quot;/mnt/autofs/input/bank-data-5-trans-1-error.xml&quot;,
		&quot;progress&quot;: &quot;10&quot;,
		&quot;project&quot;: 157673530,
		&quot;type&quot;: &quot;TRANSACTION_FILE&quot;,
		&quot;id&quot;: 89,
		&quot;config&quot;: 157811929,
		&quot;range&quot;: null,
		&quot;status&quot;: &quot;FAILED&quot;,
		&quot;inputData&quot;: null,
		&quot;configData&quot;: null,
		&quot;appliance&quot;: &quot;AndrewsAppliance_08-00-27-92-C2-80&quot;,
		&quot;purgeLocked&quot;: false,
		&quot;testStatus&quot;: null,
		&quot;submitted&quot;: &quot;2018-05-01T08:43:54.4Z&quot;,
		&quot;started&quot;: &quot;2018-05-01T08:43:56.943Z&quot;,
		&quot;finished&quot;: &quot;2018-05-01T08:44:06.217Z&quot;,
		&quot;jobFiles&quot;: null,
		&quot;jobProperties&quot;: null,
		&quot;name&quot;: &quot;Test Job&quot;
	}, {
		&quot;queue&quot;: &quot;AndrewsQueue&quot;,
		&quot;input&quot;: &quot;/mnt/autofs/input/bank-data-5-trans.xml&quot;,
		&quot;progress&quot;: &quot;0&quot;,
		&quot;project&quot;: 157673530,
		&quot;type&quot;: &quot;TRANSACTION_FILE&quot;,
		&quot;id&quot;: 6,
		&quot;config&quot;: 157811929,
		&quot;range&quot;: null,
		&quot;status&quot;: &quot;FAILED&quot;,
		&quot;inputData&quot;: null,
		&quot;configData&quot;: null,
		&quot;appliance&quot;: &quot;AndrewsAppliance_08-00-27-92-C2-80&quot;,
		&quot;purgeLocked&quot;: false,
		&quot;testStatus&quot;: null,
		&quot;submitted&quot;: &quot;2018-05-01T08:42:37.16Z&quot;,
		&quot;started&quot;: &quot;2018-05-01T08:42:46.997Z&quot;,
		&quot;finished&quot;: &quot;2018-05-01T08:42:49.217Z&quot;,
		&quot;jobFiles&quot;: null,
		&quot;jobProperties&quot;: null,
		&quot;name&quot;: &quot;Test Job&quot;
	}],
	&quot;from&quot;: 0,
	&quot;totalItems&quot;: 69,
	&quot;groupSummaries&quot;: [{
		&quot;summary&quot;: {
			&quot;FAILED&quot;: 69,
			&quot;QUEUED&quot;: 0,
			&quot;RUNNING&quot;: 0,
			&quot;STOPPED&quot;: 0,
			&quot;SPOOLED&quot;: 0,
			&quot;STOPPING&quot;: 0,
			&quot;FINISHED&quot;: 0,
			&quot;FINISHED_W_WORKFLOW&quot;: 0
		},
		&quot;name&quot;: &quot;JobStatus&quot;
	}],
	&quot;size&quot;: 50
}" doc:name="SCResponse"/>

        <logger message="scresponse===#[payload]" level="INFO" doc:name="Logger"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="049f4374-77cc-4d52-a331-793573661d14">
            <dw:input-payload doc:sample="C:\Users\rkuncham\Desktop\items.json" mimeType="application/json"/>
            <dw:input-variable doc:sample="sample_data\list_double_1.dwl" variableName="gwrequest"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml skipNullOn="everywhere"
%namespace ns0 http://directlinegroup.co.uk/schemas/custdocs/custdocsesb/businessentity/1/0
---
ns0#GetJobsResponse: {
	ns0#items: {
		(payload.items map ((item , indexOfItem) -> {
			(flowVars.gwrequest map ((gwrequest, indexOfGwRequest) -> {
				ns0#jobId: (item.id) when (item.id==gwrequest) otherwise null,
				ns0#status: item.status when (item.id==gwrequest) otherwise null
			}))
		}))
	}
}
			]]></dw:set-payload>
        </dw:transform-message>
        <!-- <set-payload value="&lt;ns0:GetJobsResponse xmlns:ns0=&quot;http://directlinegroup.co.uk/schemas/custdocs/custdocsesb/businessentity/1/0&quot;&gt;
         &lt;ns0:items&gt;
            &lt;ns0:jobId&gt;1&lt;/ns0:jobId&gt;
            &lt;ns0:jobId&gt;3&lt;/ns0:jobId&gt;
            &lt;ns0:jobId&gt;7&lt;/ns0:jobId&gt;
            &lt;ns0:jobId&gt;5&lt;/ns0:jobId&gt;
            &lt;ns0:jobId&gt;8&lt;/ns0:jobId&gt;
         &lt;/ns0:items&gt;
      &lt;/ns0:GetJobsResponse&gt;
" doc:name="Set Payload"/> -->

        <logger message="Final Payload====#[payload]" level="INFO" doc:name="Final Payload"/>
    </sub-flow>

</mule>