objectstore/src/main/app/objectstore.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:objectstore="http://www.mulesoft.org/schema/mule/objectstore" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
xmlns:spring="http://www.springframework.org/schema/beans" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/objectstore http://www.mulesoft.org/schema/mule/objectstore/current/mule-objectstore.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <objectstore:config name="ObjectStore__Connector" partition="Employee" entryTtl="120" expirationInterval="3600" maxEntries="60000" persistent="true" doc:name="ObjectStore: Connector"/>
    <flow name="idempotent-filter-object-storeFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/idempotent" allowedMethods="POST" doc:name="HTTP"/>
        <idempotent-message-filter idExpression="#[json:name]" throwOnUnaccepted="true" storePrefix="Idempotent_Message" doc:name="Idempotent Message">
            <in-memory-store name="InMemoryIdempotentFilter" maxEntries="60000" entryTTL="1200" expirationInterval="3600"/>
        </idempotent-message-filter>
        <set-payload value="Message Accepted." doc:name="Set Payload"/>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <set-payload value="Message Unaccepted." doc:name="Set Payload"/>
        </catch-exception-strategy>
    </flow>
    <flow name="objectstoreFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/store" allowedMethods="GET" doc:name="HTTP"/>
        <objectstore:store config-ref="ObjectStore__Connector" key="EmployeeId" value-ref="#[message.inboundProperties.'http.query.params'.ID]" doc:name="ObjectStore"/>
    </flow>
    <flow name="object-store-appFlow1">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/retrieve" allowedMethods="GET" doc:name="HTTP"/>
        <objectstore:retrieve config-ref="ObjectStore__Connector" key="EmployeeID" doc:name="ObjectStore"/>
    </flow>
</mule>